// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tv-lightweight-charts {
    display:none;
}
.tv-lightweight-charts:nth-child(3) {
    visibility: hidden;
}
.tv-lightweight-charts:nth-child(5) {
    display:block;
}