// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.page-wrap {

  position: relative;
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;

}
